# Dhanapriya B

# Day 2 Assignment Batch 7

# Question 1 - list and its default functions

In [1]:
lst=["lion","tiger","horse",10,5.5,]

In [2]:
lst

['lion', 'tiger', 'horse', 10, 5.5]

In [ ]:
#append()

In [4]:
lst.append("cat")

In [5]:
print(lst)

['lion', 'tiger', 'horse', 10, 5.5, 'cat']

In [ ]:
#extend()

In [6]:
lst2=["rat",7]

In [7]:
lst.extend(lst2)

In [8]:
print(lst)

['lion', 'tiger', 'horse', 10, 5.5, 'cat', 'rat', 7]

In [ ]:
#pop()

In [9]:
print(lst.pop(6))

rat

In [10]:
print(lst)

['lion', 'tiger', 'horse', 10, 5.5, 'cat', 7]

In [11]:
print(lst.pop(4))

5.5

In [12]:
print(lst)

['lion', 'tiger', 'horse', 10, 'cat', 7]

In [ ]:
#insert()

In [13]:
lst.insert(3,22.2)

In [14]:
lst.insert(4,"rabbit")

In [15]:
lst

['lion', 'tiger', 'horse', 22.2, 'rabbit', 10, 'cat', 7]

In [ ]:
#count()

In [16]:
lst3=[1,3,5,7,3,5,1,5,9,2.2,3,3,2.2,7]

In [17]:
lst3.count(3)

4

In [18]:
print("occurance of 5:",lst3.count(5))

occurance of 5: 3

# Question 2 - dictionary and its default functions

In [24]:
dic={"emp-name":"priya","age":30,"gender":"female","salary":30000,"phone":9870980098}

In [25]:
dic

{'emp-name': 'priya',
 'age': 30,
 'gender': 'female',
 'salary': 30000,
 'phone': 9870980098}

In [ ]:
# get()

In [26]:
print("salary:",dic.get("salary"))

salary: 30000

In [27]:
dic.get("gender")

'female'

In [ ]:
# pop()

In [28]:
print("value of popped key age:",dic.pop("age"))

value of popped key age: 30

In [29]:
print("dictionary after deletion:",dic)

dictionary after deletion: {'emp-name': 'priya', 'gender': 'female', 'salary': 30000, 'phone': 9870980098}

In [ ]:
# keys()

In [30]:
key=dic.keys()

In [31]:
print("dictionary keys:",key)

dictionary keys: dict_keys(['emp-name', 'gender', 'salary', 'phone'])

In [ ]:
# update()

In [32]:
dic1={"salary":50000}

In [36]:
dic.update(dic1)

In [37]:
dic

{'emp-name': 'priya', 'gender': 'female', 'salary': 50000, 'phone': 9870980098}

In [40]:
dic.update(state="tamilnadu")

In [41]:
dic

{'emp-name': 'priya',
 'gender': 'female',
 'salary': 50000,
 'phone': 9870980098,
 'state': 'tamilnadu'}

In [ ]:
# copy()

In [42]:
details=dic.copy()

In [44]:
details

{'emp-name': 'priya',
 'gender': 'female',
 'salary': 50000,
 'phone': 9870980098,
 'state': 'tamilnadu'}

# Question 3 - sets and its default functions

In [48]:
sets={4,2,7,7,1,2,4,'h','c',"add"}

In [49]:
sets

{1, 2, 4, 7, 'add', 'c', 'h'}

In [ ]:
#add()

In [50]:
sets.add(5)

In [51]:
sets.add(7)

In [52]:
sets

{1, 2, 4, 5, 7, 'add', 'c', 'h'}

In [ ]:
#union()

In [53]:
s1={1,7,5,'e','y'}

In [54]:
s2={5,1,'a'}

In [55]:
s3={6,7,9,'y'}

In [57]:
print("set1 union set2:",s1.union(s2))

set1 union set2: {1, 'a', 5, 'y', 7, 'e'}

In [59]:
print("set1 U set2 U set3:",s1.union(s2,s3))

set1 U set2 U set3: {1, 5, 'y', 7, 6, 9, 'a', 'e'}

In [ ]:
#intersection

In [60]:
print("set1 n set2:",s1.intersection(s2))

set1 n set2: {1, 5}

In [61]:
print("set1 n set2 n set3:",s1.intersection(s2,s3))

set1 n set2 n set3: set()

In [ ]:
#difference

In [62]:
print("s1 - s2:",s1.difference(s2))

s1 - s2: {'e', 'y', 7}

In [63]:
print("s2 - s1:",s2.difference(s1))

s2 - s1: {'a'}

In [ ]:
#isdisjoint

In [66]:
print("s1 and s2 disjoint? ",s1.isdisjoint(s2))

s1 and s2 disjoint?  False

In [67]:
print("s2 and s3 disjoint? ",s2.isdisjoint(s3))

s2 and s3 disjoint?  True

# Question 4 - tuples and its methods

In [78]:
tup=(5,9,1,3,7,"or","not",7)

In [79]:
len(tup)

8

In [ ]:
#count()

In [76]:
print("no of times 7 occurs:",tup.count(7))

no of times 7 occurs: 2

In [77]:
print("no of times 3 occurs:",tup.count(3))

no of times 3 occurs: 1

In [ ]:
#index()

In [80]:
print("index of 'or' :",tup.index("or"))

index of 'or' : 5

In [83]:
print("index of 7 :",tup.index(7))

index of 7 : 4

In [ ]:
#concantenation of tuples

In [84]:
tup1=("race","prize")

In [85]:
print("concat of tup and tup1:",tup+tup1)

concat of tup and tup1: (5, 9, 1, 3, 7, 'or', 'not', 7, 'race', 'prize')

In [87]:
print(tup[2:])

(1, 3, 7, 'or', 'not', 7)

In [91]:
print(tup[1:5])

(9, 1, 3, 7)

# Question 5 - string and its methods

In [ ]:
#capitalize()

In [94]:
strg="python essentials"

In [95]:
print(strg.capitalize())

Python essentials

In [96]:
print(strg.upper())

PYTHON ESSENTIALS

In [ ]:
#center()

In [97]:
strn="hello world"

In [102]:
print(strn.center(30,"*"))

*********hello world**********

In [ ]:
#count()

In [103]:
stri="save the water and save the earth"

In [105]:
print("no of times 'the' occurs:",stri.count("the",0,30))

no of times 'the' occurs: 2

In [ ]:
#find()

In [106]:
str1="it is raining"

In [107]:
print("position of 'rain' :",str1.find("rain"))

position of 'rain' : 6

In [ ]:
#format()

In [110]:
str2="{} is cs student and she likes {}".format("devi","python")

In [111]:
str2

'devi is cs student and she likes python'

In [112]:
str3="it's price is {:.2f} Rs".format(50)

In [113]:
str3

"it's price is 50.00 Rs"

In [119]:
print("bin={0:b} oct={0:o} hex={0:x}".format(17))

bin=10001 oct=21 hex=11